{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title> 
    <link type='text/css' href='{% static "css/barranav.css" %}' rel = 'stylesheet'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary position-absolute w-100">
        <div class="container">
          <a class="navbar-brand text-white fw-bold" href="#">N.R | ENCOMIENDAS</a>
            <i class="fas fa-bars lead text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item d-flex">
                <a class="nav-link align-self-center text-white" aria-current="page" href="{% url 'admin:index' %}">Iniciar sesion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
</body>
</html>